# Visual Studio (match anywhere)
.vs/
*.vcxproj.user
*.suo
*.user
*.ipch
*.opensdf
*.sdf
*.cachefile

# Build outputs
Debug/
Release/
x64/
x86/
arm64/

# Obj & bin files
*.obj
*.pdb
*.ilk
*.log
*.tlog
*.idb
*.exe
*.dll
*.lib
*.exp
