# Ignore VS cache anywhere in the tree
**/.vs/

# Visual Studio user files
*.vcxproj.user
*.suo
*.user
*.ipch
*.opensdf
*.sdf
*.cachefile

# Build outputs
Debug/
Release/
x64/
x86/
arm64/

# Obj & bin
*.obj
*.pdb
*.ilk
*.log
*.tlog
*.idb
*.exe
*.dll
*.lib
*.exp
